* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  background: url(../img/background9.jpg);
}

header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 80px;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;

  .data,
  .result {
    display: flex;
    width: 200px;
    height: 50px;
    text-align: end;
    padding-right: 5px;
    background-color: rgb(249, 247, 244);
    border: 0.6px solid;
  }
  ::placeholder {
    font-size: 20px;
  }

  .data {
    font-size: 20px;
  }
  .result {
    font-size: 25px;
    color: darkblue;
  }
  .btnDo {
    margin-bottom: 30px;
    .first,
    .second,
    .third,
    .forth {
      display: flex;
      button {
        width: 50px;
        height: 50px;
        font-size: 30px;
        background-color: antiquewhite;
        border: 0.6px solid black;
        cursor: pointer;
      }
    }
    .btnC {
      width: 200px;
      height: 50px;
      font-size: 30px;
      background-color: antiquewhite;
      border: 0.6px solid black;
    }
  }
}
.history {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 600px;
  h3,
  p,
  li {
    margin-bottom: 8px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

@media (max-width: 675px) {
  body {
    max-width: 550px;
  }
  .history {
    width: 500px;
  }
}

@media (max-width: 550px) {
  body {
    max-width: 400px;
  }
  header h1 {
    height: 50px;
    font-size: 25px;
  }
  .calculator {
    .btnDo {
      margin-bottom: 15px;
    }
    .data,
    .result {
      height: 45px;
    }
  }
  .history {
    width: 360px;
  }
}

@media (max-width: 450px) {
  body {
    max-width: 390px;
  }
}

@media (max-width: 400px) {
  .calculator {
    .btnDo {
      margin-bottom: 13px;
    }
  }
  .history {
    width: 300px;
    h3,
    p,
    li {
      margin-bottom: 5px;
    }
  }
  footer {
    height: 28px;
  }
}
